html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#000000, #111111);
}

.bodyMain {
	position: absolute;
	background-color: #000000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.title {
	width: 100%; /* 컨테이너의 너비를 화면 전체로 설정 */
	position: fixed; /* 화면 아래에 고정시킵니다. */
	text-align: center; /* 내부 텍스트를 가운데 정렬합니다. */
	padding: 20px; /* 내부 여백 설정 (예시) */
	box-sizing: border-box; /* 패딩이 포함된 전체 너비/높이 계산 */
	color: #ffffff;
	font-size: 50px;
	font-weight: bold;
}

.middle-part {
	width: 100%; /* 컨테이너의 너비를 화면 전체로 설정 */
	position: fixed; /* 화면 아래에 고정시킵니다. */
	text-align: left; /* 내부 텍스트를 가운데 정렬합니다. */
	padding: 20px; /* 내부 여백 설정 (예시) */
	box-sizing: border-box; /* 패딩이 포함된 전체 너비/높이 계산 */
	color: #ffffff;
	font-size: 70px;
	font-weight: bold;
	margin: 5%;
}

.headerMenu .Home-btn {
	position: absolute;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	width: auto; /* 이미지 크기에 맞게 자동으로 조정됨 */
	z-index: 9999;
}

.headerMenu .logo {
	width: 130px; /* 이미지가 버튼 내에서 꽉 차도록 설정 */
	height: auto; /* 이미지의 가로 세로 비율을 유지하면서 버튼에 맞게 조정 */
}

.facebook {
	width: 20px;
	height: 30px;
	z-index: 9999;
}

.youtube {
	width: 30px;
	height: 20px;
	z-index: 9999;
}

.instagram {
	width: 30px;
	height: 30px;
	z-index: 9999;
}

#menu-container {
	position: relative;
	z-index: 9999;
}

#menuButton {
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 30px; /* 오른쪽으로 이동 */
	display: flex;
	width: 50px;
	height: 50px;
	z-index: 9999;
}

#icon-container {
	position: absolute;
	top: 110px;
	right: 40px;
	display: flex;
	flex-direction: column; /* 세로 방향으로 아이콘을 나열 */
	align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
	gap: 15px; /* 아이콘 사이의 간격 설정 */
	z-index: 9998;
}

#rectangle {
	/* 처음엔 숨겨져 있음 */
	position: absolute;
	top: 110px; /* toggleButton 바로 아래 위치 */
	right: 30px; /* menuButton과 같게 */
	width: 10.5%;
	min-height: 200px;
	color: black;
	background-color: black;
	display: none;
	border: 2px solid white;
	background-color: black;
	z-index: 9999;
}

#rectangle button {
	cursor: pointer;
	background-color: black;
	border: none;
	padding: 0.5em 0.5em; /* 위아래 0.5em, 좌우 1em으로 설정하여 버튼 크기를 내용에 맞게 조정 */
	color: white;
	font-size: 23px;
	gap: 15px;
}

#rectangle p {
	color: white;
	text-align: left;
	font-size: 24px;
	text-decoration: underline; /* 밑줄 */
	margin: 0px;
}

.smallWord {
	color: white;
	margin: 10px;
}

#icon-container2 {
	position: relative;
	right: -30px;
	display: flex;
	margin-bottom: 30px;
	flex-direction: row; /* 가로 방향으로 아이콘을 나열 */
	align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
	gap: 15px; /* 아이콘 사이의 간격 설정 */
	z-index: 9998;
}

.instructor-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	box-sizing: border-box;
}

.instructor-container img {
	width: 300px;
	height: 300px;
}

/* 달력 만들기
.calendar-Container {
	width: 500px;
	height: 700px;
	padding: 20px;
	background-color: whitesmoke;
}

.calendar-Container img {
	width: 250px;
	height: 150px;
}

.calendar-Contaier .calendar-Month {
	height: 60px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;	
}

.calendar-Container h1, h3 {
	margin: 0;
}

.calendar-Container .calendar-Date table {
	width: 500px;
	height: 300px;
	table-layout: fixed;
	border-collapse: collapse;
}

.calendar-Container tbody {
	border-style: solid;
	border-color: #eec0c6;
	vertical-align: top;
}

.calendar-Container tbody td {
	border-style: solid;
	border-color: #eec0c6;
}

.calendar-Container tbody td:nth-child(6), th:nth-child(6) {
	color:rgb(32, 126, 234);
}

.calendar-Container tbody td:nth-last-child(1), th:nth-last-child(1) {
	color:rgb(255, 72, 0);
}

.calendar-Container .class-date {
	background-color: rgb(248, 248, 108);
}

.calendar-Container .holiday {
	font-size: 10px;
	color: red;
}

.calendar-Container a {
	font-size: 10px;
	text-decoration: none;
}

.calendar-Container td:hover:not(#class-start) {
	font-size: 30px;
}

.calendar-Container #class-start:hover {
	font-weight: bold;
}

.calendar-Container .calendar-logo{
	display: flex;
	justify-content: center;
}

.calendar-Container #logo {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	border-radius: 50px;
}
*/






